# H1: DataScienceEcoSystem

# H2: Introduction
This a DataScience EcoSystem Page have lot of new ideas are invloved.

# Executed as a unorderd list
- Python
- R
- RStudio
- Julia

# Executed as a Orderd list
1. Python
2. R
3. RStudio
4. Julia

# Executed as a Orderd list Libraries
1. Pandas
2. numpy
3. sklearn
4. Tenserflow

# Tables for open source tools
|Data Science Tools|
|------------------|
|RStudio|
|Tensrflow|
|Hadoop|
|Apache Spark|

### H3: Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
code = compile("10 + 10", "<string>", "eval")
eval(code)

20

In [3]:
(3*4)+5

17

### This will convert 200 minutes to hours by diving by 60

In [7]:
hours=0
minutes=0
time=200
minutes=time%1440
hours= minutes/60
print(str(hours) + "hours. ")

3.3333333333333335hours.

__#H1: Objectives__

# unorederd list
- jupyter notebook
- Jupyter Architecture
- Anaconda navigator

# popular languages of data science
1. Python.
2. R.
3. SQL.
4. Java.
5. Julia.

## H2: Author
Rithesh Kumar